@model PagedList.IPagedList<Models.EF.lop>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Danh sách lớp</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-2">
            <select class="input-sm form-control w-sm inline v-middle" id="cb_khoa">
                <option value="0">Khoa</option>
                <option value="1">Delete selected</option>
                <option value="2">Bulk edit</option>
                <option value="3">Export</option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="input-sm form-control w-sm inline v-middle" id="cb_khoa">
                <option value="0">Ngành</option>
                <option value="1">Delete selected</option>
                <option value="2">Bulk edit</option>
                <option value="3">Export</option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="input-sm form-control w-sm inline v-middle" id="cb_khoa">
                <option value="0">Lớp</option>
                <option value="1">Delete selected</option>
                <option value="2">Bulk edit</option>
                <option value="3">Export</option>
            </select>
        </div>
        <div class="col-md-6 mb-2">
            @using (Html.BeginForm("Index", "lops", FormMethod.Get))
            {
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 offset-4">
                            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa tìm kiếm" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <input type="submit" value="Tìm kiếm" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            }

        </div>

        <div class="col-md-12">
            <table class="table table-striped table-hover text-center">
                <tr>
                    <th>Mã lớp</th>
                    <th>Mã ngành</th>
                    <th>Cán bộ lớp</th>
                    <th>Giáo viên chủ nhiệm</th>
                    <th>Trạng thái</th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.maLop">
                        <td>
                            @Html.DisplayFor(modelItem => item.maLop)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nganh.tenNganh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.canBoLops.Where(x => x.trangThai == 1).SingleOrDefault().maSinhVien)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.giaoVienChuNhiems.Where(x => x.trangThai == 1).SingleOrDefault().maGiangVien)
                        </td>
                        @if (item.trangThai == 1)
                        {
                            <td class="text-success">
                                Hiện
                            </td>
                        }
                        else
                        {
                            <td class="text-danger">
                                Ẩn
                            </td>
                        }
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit" onclick="window.location.href=' @Url.Action("Edit", new { id = item.maLop })'">
                                <i class="fa fa-edit"></i>

                            </button>
                        </td>
                        <td>
                            @Ajax.ActionLink(" ", "Delete", new { @id = item.maLop }, new AjaxOptions
                       {
                           Confirm = "Bạn có muốn xoá lớp  " +item.maLop,
                           OnComplete = "$('#row_" + @item.maLop + "').remove()",
                           HttpMethod = "Delete"
                       }, new {@class = "fa fa-trash text-danger" })
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-12 d-flex justify-content-end">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
        </div>
    </div>

</section>
<!-- /.content -->
@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nganh.tenNganh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trangThai)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nganh.tenNganh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trangThai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.maLop }) |
                @Html.ActionLink("Details", "Details", new { id=item.maLop }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.maLop })
            </td>
        </tr>
    }

    </table>*@
