@model IEnumerable<Models.EF.phieuChamDiem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hocKi.nguoiTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sinhVien.matKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayCham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tongDiem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hocKi.nguoiTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sinhVien.matKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayCham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tongDiem)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maPhieuChamDiem }) |
            @Html.ActionLink("Details", "Details", new { id=item.maPhieuChamDiem }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maPhieuChamDiem })
        </td>
    </tr>
}

</table>
