@using Models.Constraints;

@using DiemRenLuyen.Model;

@model IEnumerable<Models.EF.sinhVien>
@{
    ViewBag.Title = "Cập nhật thông tin cá nhân";
    Layout = "~/Views/Students/_Layout.cshtml";
}

<main>
    <div id="crumbs" class="wow animate__fadeInUp" data-wow-duration="2s" style="visibility: visible;">
        <ul>
            <li><a href="@Url.Action("Index","Students")" class="breadcrumb">Trang chủ</a></li>
            <li>
                @{
                    var user = (LoginModel)Session[Common.USER_SESSION];
                }
                <a href="@Url.Action("UpdatePersonalInfo","Students",new { maUser = @user.UserName })" class="breadcrumb">Cập nhật thông tin cá nhân</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid col-md-10 offset-md-1 ">
        <h1 class="article-title mt-4 mb-4 wow animate__fadeInUp" data-wow-duration="1s" itemprop="headline"
            style="text-align: center;text-transform: capitalize;">
            Cập nhập thông tin cá nhân
        </h1>
        @foreach (var item in Model)
        {
            <form action="/Students/UpdatePersonalInfo" method="post" class="row g-4 needs-validation" novalidate>
                <input type="hidden" class="form-control" value="@user.UserName" id="maSinhVien" name="maSinhVien" />
                <div class="col-md-6 col-sm-5 position-relative my-3 wow animate__fadeInUp" data-wow-duration="1s" style="visibility: visible;">
                    <label for="validationTooltip01" class="form-label">
                        Mã sinh viên:@item.maSinhVien
                    </label>
                </div>
                <div class="col-md-4 col-sm-5 position-relative my-3 offset-md-2 offset-sm-2 wow animate__fadeInUp" data-wow-duration="1s" style="visibility: visible;">
                    <label for="validationTooltip02" class="form-label">
                        Tên sinh viên:@item.tenSinhVien
                    </label>
                </div>
                <div class="col-md-6 col-sm-5 position-relative my-3 wow animate__fadeInUp" data-wow-duration="1s" style="visibility: visible;">
                    <label for="validationTooltip02" class="form-label">Lớp sinh hoạt:@item.maLop</label>
                </div>
                <div class="col-md-4 col-sm-5 position-relative my-3 offset-md-2 offset-sm-2 wow animate__fadeInUp" data-wow-duration="1s" style="visibility: visible;">
                    <label for="validationTooltip02" class="form-label">Trạng thái:</label>
                    @if (item.trangThai == 1)
                    {
                        <font><b color="blue" class="text-primary">Còn học</b></font>
                    }
                    else
                    {
                        <font><b color="blue" class="text-primary">Thôi học</b></font>
                    }

                </div>
                <div class="col-md-6 col-sm-5 position-relative my-3 wow animate__fadeInUp" data-wow-duration="1s" style="visibility: visible;">
                    <label for="validationTooltip01" class="form-label">Ngày sinh:@item.ngaySinh</label>
                </div>
                <div class="col-md-4 col-sm-5 position-relative my-3 offset-md-2 offset-sm-2 wow animate__fadeInUp" data-wow-duration="1s" style="visibility: visible;">
                    @if (item.gioiTinh == 1)
                    {
                        <label for="validationTooltip02" class="form-label">Giới tính: Nam</label>
                    }
                    else
                    {
                        <label for="validationTooltip02" class="form-label">Giới tính: Nữ</label>
                    }

                </div>
                <div class="col-md-6  my-3 wow animate__fadeInUp" data-wow-duration="1s" style="visibility: visible;">
                    <label for="validationDefault01" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" id="validationDefault01" name="soDienThoai" value="@item.soDienThoai"
                           required>
                </div>
                <div class="col-md-4  my-3 offset-md-2 wow animate__fadeInUp" data-wow-duration="1s" style="visibility: visible;">
                    <label for="validationDefaultUsername" class="form-label">Thư điện tử</label>
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroupPrepend2"><img src="~/Assets/client/image/icons-gmail.png" alt="" /></span>
                        <input type="email" class="form-control" name="gmail" id="validationDefaultUsername"
                               aria-describedby="inputGroupPrepend2" value="@item.gmail"
                               required>
                    </div>
                </div>



                <div class="col-12  my-3 wow animate__fadeInUp text-center" data-wow-duration="1s">
                    <button class="btn btn-danger" type="submit">Cập nhập thông tin</button>
                </div>
            </form>
        }
    </div>
</main>
