@model Models.EF.giangVien

@{
    ViewBag.Title = "Edit";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0">Chỉnh sửa giảng viên<b> @Model.tenGiangVien</b> </h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- Main content -->
<section class="content">
    <div class="container pb-5">
        @using (Html.BeginForm())
        {
        <div class="row">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.maGiangVien)
            <div class="form-group col-md-6">
                <label>Tên Giảng Viên</label>
                @Html.ValidationMessageFor(model => model.tenGiangVien, "", new { @class = "text-danger" })
                <input type="text" class="form-control" name="tenGiangVien" placeholder="Nhập tên giáo viên" value="@Model.tenGiangVien">
            </div>

            <div class="form-group col-md-6">
                <label>Mật khẩu</label>
                @Html.ValidationMessageFor(model => model.matKhau, "", new { @class = "text-danger" })
                <input type="password" class="form-control" name="matKhau" placeholder="Password" value="@Model.matKhau">
            </div>
            <div class="form-group col-md-6">
                <label>Số điện thoại</label>
                @Html.ValidationMessageFor(model => model.soDienThoai, "", new { @class = "text-danger" })
                <input type="number" class="form-control" name="soDienThoai" placeholder="Nhập số điện thoại" value="@Model.soDienThoai">
            </div>
            <div class="form-group col-md-6">
                <label>Email</label>
                @Html.ValidationMessageFor(model => model.gmail, "", new { @class = "text-danger" })
                <input type="email" class="form-control" name="gmail" placeholder="Nhập email" value="@Model.gmail">
            </div>
            <div class="form-group col-md-6">
                <label>Ngày sinh</label>
                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" value="@Model.ngaySinh"/>
                    <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Giới tính</label>
                @if (Model.gioiTinh == 1)
                {
                    <select name="gioiTinh" class="form-control input-sm m-bot15">
                        <option value="1" selected="selected">Nam</option>
                        <option value="0">Nữ</option>
                    </select>
                }
                else
                {
                    <select name="gioiTinh" class="form-control input-sm m-bot15">
                        <option value="1">Nam</option>
                        <option value="0" selected="selected">Nữ</option>
                    </select>
                }

            </div>
            <div class="form-group col-md-6">
                <label>Trạng thái</label>
                @if (Model.trangThai == 1)
                {
                    <select name="gioiTinh" class="form-control input-sm m-bot15">
                        <option value="1" selected="selected">Hiện</option>
                        <option value="0">Ẩn</option>
                    </select>
                }
                else
                {
                    <select name="gioiTinh" class="form-control input-sm m-bot15">
                        <option value="1">Hiện</option>
                        <option value="0" selected="selected">Ẩn</option>
                    </select>
                }
            </div>
            <div class="col-md-12">
                <button type="submit" value="Create" class="btn btn-primary">Thêm</button>
            </div>


        </div>
        }
    </div>
</section>
