@model Models.EF.sinhVien

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>sinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lop.maNganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lop.maNganh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenSinhVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSinhVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
