@model Models.EF.sinhVien

@{
    ViewBag.Title = "Edit";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Cập nhật sinh viên</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container pb-5 ">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.maSinhVien)
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Tên sinh viên</label>
                    <div>
                        @Html.EditorFor(model => model.tenSinhVien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tenSinhVien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Mật khẩu</label>
                    <div>
                        @Html.EditorFor(model => model.matKhau, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.matKhau, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Lớp</label>
                    <div>
                        @Html.DropDownList("maLop", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.maLop, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Ngày sinh</label>
                    <div>
                        @Html.EditorFor(model => model.ngaySinh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ngaySinh, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Số điện thoại</label>
                    <div>
                        @Html.EditorFor(model => model.soDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.soDienThoai, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Email</label>
                    <div>
                        @Html.EditorFor(model => model.gmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.gmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Giới tính</label>
                    <div>
                        <select name="gioiTinh" class="form-control">
                            @{ if (Model.gioiTinh == 1)
                                {
                                    <option value="1" selected="selected">Nam</option>
                                    <option value="0">Nữ</option>
                                }
                                else
                                {
                                    <option value="1">Nam</option>
                                    <option value="0" selected="selected">Nữ</option>
                                }
                            }

                        </select>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1">Trạng thái</label>

                    <div>
                        <select name="trangThai" class="form-control">
                            @{ if (Model.trangThai == 1)
                                {
                                    <option value="1" selected="selected">Hiện</option>
                                    <option value="0">Ẩn</option>
                                }
                                else
                                {
                                    <option value="1">Hiện</option>
                                    <option value="0" selected="selected">Ẩn</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Lưu</button>

                </div>
            </div>
        }
    </div>
</section>