@using Models.Constraints
@using DiemRenLuyen.Model
@model IEnumerable<Models.EF.sinhVien>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Assets/client/image/favicon.png" rel="icon">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/client/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/font-awesome.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Mulish:wght@200&family=Open+Sans:wght@300&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/client/css/nice-toast-js.min.css">
    <link rel="stylesheet" href="~/Assets/client/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/responsive/responsive.css">
    <script type="text/javascript" src="~/Assets/client/js/jquery-3.5.1.min.js"></script>

</head>

<body>
    <!-- page-content" -->
    <div class="page-content">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center ">
                <div class="page-wrapper col-md-11">
                    <header>
                        <div class="menu__hide" id="headerHide">
                            <div class="col-md-12 row p-0 m-0">
                                <!-- OFF CANVAS TOGGLE -->

                                <button id="button-event" class="btn btn-default off-canvas-toggle" type="button"
                                        data-pos="left" data-nav="#t3-off-canvas" data-effect="off-canvas-effect-4"
                                        onclick="show()">
                                    <i class="fa fa-bars"></i>
                                </button>

                                <!-- // OFF CANVAS TOGGLE -->
                                <!-- LOGO -->
                                <div class="logo">
                                    <div class="logo-image logo-control">
                                        <a href="#" title="Trường ĐH Sư phạm Kỹ thuật">

                                            <img class="logo-img-sm" rel="nofollow" src="~/Assets/client/image/header-ute.png"
                                                 alt="Trường Đại học Sư phạm Kỹ thuật">

                                        </a>

                                    </div>
                                </div>
                                <!-- //LOGO -->
                            </div>
                            @{
                                var name_user = Session[Common.NAME_USER_SESSION];
                                var user = (LoginModel)Session[Common.USER_SESSION];
                                var maLop = Session[Common.LOP_USER_SESSION];
                            }
                            <div class="module-inner">
                                <div class="module-ct">
                                    <ul id="hambuger_menu" class="nav  nav-pills nav-stacked ">
                                        <li class="current active"><a class="nav-icon nav-magazine" href="/">UTE</a></li>
                                        <li>
                                            <a id="" class="" href="index.php.php"><i class="fas fa-home mr-2"></i>Trang chủ</a>
                                        </li>
                                        
                                        @foreach (var item in Model)
                                        {
                                            <li>
                                                <a href="@Url.Action("ListClass", "Students", new { maLop = @item.maLop })" class="nav-icon "><i class="fas fa-file-excel mr-2"></i>Xem điểm cả lớp</a>
                                            </li>
                                        }
                                        <li><a href="@Url.Action("ListClass","Officers")" class="nav-icon "><i class="far fa-edit mr-2"></i>Đánh giá lại điểm</a>
                                        <li>
                                            <a href="" class=""><i class="fas fa-exclamation-triangle mr-2"></i>Quy định</a>
                                        </li>
                                        <li><a href="" class=""><i class="fas fa-file-word mr-2"></i>Hướng dẫn </a></li>
                                        <li><a href="#"><i class="fas fa-question-circle mr-2"></i>Thông tin chấm điểm rèn luyện</a></li>
                                        <li><a href="@Url.Action("ChangePassword","Students")"><i class="fas fa-key mr-2"></i>Thay đổi mật khẩu</a></li>
                                        <li><a href="@Url.Action("UpdatePersonalInfo","Students",new { maUser = @user.UserName })"><i class="fas fa-user mr-2"></i>Thông tin cá nhân</a></li>
                                        <li><a href="personalScores.php"><i class="fas fa-star mr-2"></i>Xem điểm cá nhân</a></li>
                                        <li><a href="@Url.Action("Index","Home")"><i class="fas fa-sign-out-alt mr-2"></i>Đăng xuất</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="header__banner">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="#" alt="Trường đại học sư phạm kỹ thuật">
                                            <img class="d-block w-100"
                                                 src="~/Assets/client/image/slide_2.png" alt="First slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a href="#" alt="Trường đại học sư phạm kỹ thuật">
                                            <img class="d-block w-100"
                                                 src="~/Assets/client/image/slide_2.png" alt="Second slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a href="#" alt="Trường đại học sư phạm kỹ thuật">
                                            <img class="d-block w-100"
                                                 src="~/Assets/client/image/slide_2.png" alt="Third slide">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <nav class="navbar navbar-expand-lg navbar-light bg-light p-0" id="navbarDropdown">
                            <div class="navbar-collapse" id="navbarNavDropdown">
                                <div class="menu">
                                    <ul class="parent">
                                        <li><a href="@Url.Action("Index","Officers")">Trang Chủ</a></li>
                                        <li><a href="@Url.Action("MarkPoint","Officers")">Tự đánh giá rèn luyện</a></li>
                                        @foreach (var item in Model)
                                        {
                                            <li><a href="@Url.Action("ListClass", "Students", new { maLop = @item.maLop })">Xem điểm cả lớp</a></li>
                                        }
                                        <li><a href="@Url.Action("ListClass","Officers")">Đánh giá lại điểm</a></li>
                                        <li>
                                            <a href="#" target="_blank"> Quy định</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"> Hướng dẫn</a>
                                        </li>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                @if (name_user != null)
                                                {@name_user}&nbsp;
                                                <i class="fa fa-chevron-circle-down fa-fw"></i>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="@Url.Action("ChangePassword","Students")" target="_blank">
                                                        <i class="fas fa-key mr-2"></i>Thay đổi mật khẩu
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("UpdatePersonalInfo","Students",new { maUser = @user.UserName })">
                                                        <i class="fas fa-user mr-2"></i>Thông tin cá nhân
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="notification.php"><i class="fas fa-question-circle mr-2"></i>Thông báo</a>
                                                </li>
                                                <li>
                                                    <a href="personalScores.php"><i class="fas fa-star mr-2"></i>Xem điểm cá nhân</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Logout","Home")"><i class="fas fa-sign-out-alt mr-2"></i>Đăng xuất</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <div class="button_scrolltop"
                             onclick="page_scrolltop()">
                            <i class="fas fa-angle-up"></i>
                        </div>
                    </header>
                    @RenderBody()
                    <footer>
                        <section class="footer-links">
                            <div class="col-md-12 col-lg-12">
                                <div class="online">
                                    <h3 class="module-title online__title">
                                        <span>
                                            Danh sách thành viên đang truy cập (1
                                            đang truy cập)
                                        </span>
                                    </h3>
                                    <div class="online-content col-md-12 col-lg-12 row">

                                        <div class="user col-lg-4 col-md-4 row col-sm-6 col-6 mt-2 wow animate__fadeInUp" data-wow-duration="2s" style="visibility: visible;">

                                            <div class="user__img col-md-2 col-sm-2 col-2" style="padding: 0">
                                                <a href="#">
                                                    <img id="ctl00_Footer_rpLuotTruyCap_ctl00_imgAvatar"
                                                         class="img-responsive" src="~/Assets/client/image/no_avatar.jpg">
                                                </a>
                                            </div>
                                            <div class="user__title col-md-10 col-sm-10 col-10">
                                                <p class="user__title user__title--name">
                                                    Ngô Kim Hoàng Minh
                                                </p>
                                                <p class="user__title user__title--code">
                                                    1811505310131
                                                </p>
                                                <p class="user__title user__title--time">
                                                    <i class="fas fa-clock"></i>
                                                    Cách đây 28 phút
                                                </p>
                                            </div>
                                        </div>
                                        <div class="user col-lg-4 col-md-4 row col-sm-6 col-6 mt-2 wow animate__fadeInUp" data-wow-duration="2s" style="visibility: visible;">

                                            <div class="user__img col-md-2 col-sm-2 col-2" style="padding: 0">
                                                <a href="#">
                                                    <img id="ctl00_Footer_rpLuotTruyCap_ctl00_imgAvatar"
                                                         class="img-responsive" src="~/Assets/client/image/no_avatar.jpg">
                                                </a>
                                            </div>
                                            <div class="user__title col-md-10 col-sm-10 col-10">
                                                <p class="user__title user__title--name">
                                                    Ngô Kim Hoàng Minh
                                                </p>
                                                <p class="user__title user__title--code">
                                                    1811505310131
                                                </p>
                                                <p class="user__title user__title--time">
                                                    <i class="fas fa-clock"></i>
                                                    Cách đây 28 phút
                                                </p>
                                            </div>
                                        </div>
                                        <div class="user col-lg-4 col-md-4 row col-sm-6 col-6 mt-2 wow animate__fadeInUp" data-wow-duration="2s" style="visibility: visible;">

                                            <div class="user__img col-md-2 col-sm-2 col-2" style="padding: 0">
                                                <a href="#">
                                                    <img id="ctl00_Footer_rpLuotTruyCap_ctl00_imgAvatar"
                                                         class="img-responsive" src="~/Assets/client/image/no_avatar.jpg">
                                                </a>
                                            </div>
                                            <div class="user__title col-md-10 col-sm-10 col-10">
                                                <p class="user__title user__title--name">
                                                    Ngô Kim Hoàng Minh
                                                </p>
                                                <p class="user__title user__title--code">
                                                    1811505310131
                                                </p>
                                                <p class="user__title user__title--time">
                                                    <i class="fas fa-clock"></i>
                                                    Cách đây 28 phút
                                                </p>
                                            </div>
                                        </div>
                                        <div class="user col-lg-4 col-md-4 row col-sm-6 col-6 mt-2 wow animate__fadeInUp" data-wow-duration="2s" style="visibility: visible;">

                                            <div class="user__img col-md-2 col-sm-2 col-2" style="padding: 0">
                                                <a href="#">
                                                    <img id="ctl00_Footer_rpLuotTruyCap_ctl00_imgAvatar"
                                                         class="img-responsive" src="~/Assets/client/image/no_avatar.jpg">
                                                </a>
                                            </div>
                                            <div class="user__title col-md-10 col-sm-10 col-10">
                                                <p class="user__title user__title--name">
                                                    Ngô Kim Hoàng Minh
                                                </p>
                                                <p class="user__title user__title--code">
                                                    1811505310131
                                                </p>
                                                <p class="user__title user__title--time">
                                                    <i class="fas fa-clock"></i>
                                                    Cách đây 28 phút
                                                </p>
                                            </div>
                                        </div>
                                        <div class="user col-lg-4 col-md-4 row col-sm-6 col-6 mt-2 wow animate__fadeInUp" data-wow-duration="2s" style="visibility: visible;">

                                            <div class="user__img col-md-2 col-sm-2 col-2" style="padding: 0">
                                                <a href="#">
                                                    <img id="ctl00_Footer_rpLuotTruyCap_ctl00_imgAvatar"
                                                         class="img-responsive" src="~/Assets/client/image/no_avatar.jpg">
                                                </a>
                                            </div>
                                            <div class="user__title col-md-10 col-sm-10 col-10">
                                                <p class="user__title user__title--name">
                                                    Ngô Kim Hoàng Minh
                                                </p>
                                                <p class="user__title user__title--code">
                                                    1811505310131
                                                </p>
                                                <p class="user__title user__title--time">
                                                    <i class="fas fa-clock"></i>
                                                    Cách đây 28 phút
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="footer-copyright col-lg-12">
                            <div class="row">
                                <div class="col-md-8 copyright wow animate__fadeInLeft" data-wow-duration="2s" style="visibility: visible;">

                                    <small>
                                        Hệ thống Quản lý chấm điểm rèn luyện; Copyright © 2021.
                                    </small>
                                    <small>
                                        Địa chỉ: số 48 Cao Thắng, TP. Đà Nẵng - Điện thoại: (0236) 3530590 - Email: <a href="mailto:utemediaonline@gmail.com">utemediaonline@gmail.com</a>
                                    </small>
                                </div>
                                <div class="col-md-4 poweredby wow animate__fadeInRight" data-wow-duration="2s" style="visibility: visible;">
                                    <a href=""
                                       target="_blank">Thiết kế bởi <strong style="color:orange">AMMTV Team Group</strong> <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </section>
                    </footer>
                </div>
            </div>

        </div>
    </div>
    <!-- page-content" -->


    <script type="text/javascript" src="~/Assets/client/js/wow.min.js"></script>
    <script type="text/javascript" src="~/Assets/client/js/bootstrap.min.js"></script>
    <script src="~/Assets/client/js/nice-toast-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="~/Assets/client/js/slick.min.js"></script>
    <script type="text/javascript" src="~/Assets/client/js/custom.js"></script>
    <script type="text/javascript" src="~/Assets/client/js/officerMark.js"></script>
    <script type="text/javascript" src="~/Assets/client/js/viewScore.js"></script>
    <script type="text/javascript" src="~/Assets/client/js/markDrl.js"></script>
</body>

</html>